body{
   background-color:black;
   color:white;
}
.c{
color:white;
}
.a{
text-align:right;
color:white;
}
.b{
text-align:right;
color:white;
border-bottom:solid red 2px;
}
.p{
color:white;
}
.d{
color:white;
}
.e{
color:white;
}
.f{
color:white;
}
.g{
color:white;
}
.h{
color:white;
}
.i{
color:white;
}
.j{
color:white;
}
.k{
color:white;
}
.l{
color:white;
}
.m{
color:white;
}
.n{
color:white;
}
.o{
color:white;
}
.q{
color:white;
}
.r{
color:white;
}
.s{
color:white;
}
.t{
color:white;
}
.u{
color:white;
}
.v{
color:white;
}
.w{
color:white;
}
.x{
color:white;
}
.y{
color:white;
}
.aa{
margin-top:  200px;
text-indent: 50px;
color:white;
}
.bb{
text-align:right;
color:white;
}